html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #4A90E2;  // Suavizado para um azul menos intenso

    .navbar-color {
        background-color: #FF8C42; // Laranja mais suave
        color: white !important;
    }

    .btn-home {
        background-color: #FF8C42;    
        border-color: #FF8C42;       
        color: white !important;  
        border-radius: 10px;
        padding: 16px 24px;
        font-size: 17px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.1s ease-in-out;
    }

    .btn-home:hover {
        background-color: #E67E22;  
        border-color: #E67E22;      
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    .home {
        height: 70vh !important;
    }
}

.no-scroll {
    overflow: hidden !important;  
    height: 100vh !important;      
}
